
.bIZMlr {
  width: 100%;
}
.feRvCW {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(255, 255, 255);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.dzDHNy {
  display: inline;
  font-size: 0.875rem;
}
.fpIrxG {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.kbmwFY {
  font-size: 0.875rem;
}
:root, .t-ewOPpA {
  --colors-blue000: #ECF5FE;
  --colors-blue100: #D8EBFD;
  --colors-blue200: #BBDBFC;
  --colors-blue300: #85B5F8;
  --colors-blue400: #619FF7;
  --colors-blue500: #3D89F5;
  --colors-blue600: #0C6CF2;
  --colors-blue700: #1656B9;
  --colors-blue800: #144699;
  --colors-blue900: #0D3578;
  --colors-green000: #E6FAEC;
  --colors-green100: #D1F0DB;
  --colors-green200: #AEE6CA;
  --colors-green300: #8BDCB3;
  --colors-green400: #17CE73;
  --colors-green500: #00B26B;
  --colors-green600: #00994C;
  --colors-green700: #006633;
  --colors-green800: #004C26;
  --colors-green900: #003319;
  --colors-black: #000000;
  --colors-grey000: #F0F2F7;
  --colors-grey100: #DFE3EB;
  --colors-grey200: #CCD2DE;
  --colors-grey300: #B1B8C7;
  --colors-grey400: #98A1B2;
  --colors-grey500: #828B9E;
  --colors-grey600: #677184;
  --colors-grey700: #50596B;
  --colors-grey800: #353F52;
  --colors-grey900: #121D33;
  --colors-smoke000: #D2D4D6;
  --colors-smoke100: #B8B9BD;
  --colors-smoke200: #989BA1;
  --colors-smoke300: #797D84;
  --colors-smoke400: #63676F;
  --colors-smoke500: #4D515B;
  --colors-smoke600: #3B3E46;
  --colors-smoke700: #2C3038;
  --colors-smoke800: #20242C;
  --colors-smoke900: #0E121B;
  --colors-orange000: #FFF6EB;
  --colors-orange100: #FFECD6;
  --colors-orange200: #FFE1BF;
  --colors-orange300: #F6CEA1;
  --colors-orange400: #FFA133;
  --colors-orange500: #EA8D1F;
  --colors-orange600: #D46A00;
  --colors-orange700: #AF5200;
  --colors-orange800: #8C4100;
  --colors-orange900: #6A2E00;
  --colors-purple000: #EFECFE;
  --colors-purple100: #DED8FD;
  --colors-purple200: #C6BBFC;
  --colors-purple300: #ADA6FF;
  --colors-purple400: #9080FF;
  --colors-purple500: #7349F2;
  --colors-purple600: #5322E5;
  --colors-purple700: #451DBF;
  --colors-purple800: #371799;
  --colors-purple900: #250B73;
  --colors-red000: #FFD9D6;
  --colors-red100: #FFECEB;
  --colors-red200: #FFC3BF;
  --colors-red300: #F6A7A1;
  --colors-red400: #FF3344;
  --colors-red500: #EA1F30;
  --colors-red600: #CF1726;
  --colors-red700: #A50D0D;
  --colors-red800: #8D0B0B;
  --colors-red900: #790606;
  --colors-teal000: #E6F8FA;
  --colors-teal100: #D1EDF0;
  --colors-teal200: #AEE1E6;
  --colors-teal300: #6CD0D9;
  --colors-teal400: #00B6C7;
  --colors-teal500: #12A5B2;
  --colors-teal600: #0E828C;
  --colors-teal700: #055E66;
  --colors-teal800: #08474C;
  --colors-teal900: #052F33;
  --colors-white060: rgba(255, 255, 255, 0.06);
  --colors-white100: rgba(255, 255, 255, 0.1);
  --colors-white200: rgba(255, 255, 255, 0.2);
  --colors-white400: rgba(255, 255, 255, 0.4);
  --colors-white600: rgba(255, 255, 255, 0.6);
  --colors-white800: rgba(255, 255, 255, 0.8);
  --colors-white900: #ffffff;
  --colors-overlay000: rgba(13, 53, 120, 0.06);
  --colors-overlay100: rgba(5, 24, 61, 0.1);
  --colors-overlay200: rgba(5, 24, 61, 0.2);
  --colors-overlay400: rgba(5, 24, 61, 0.4);
  --colors-overlay600: rgba(3, 17, 47, 0.6);
  --colors-overlay800: rgba(18, 29, 51, 0.8);
  --fontSizes-10: 10px;
  --fontSizes-12: 12px;
  --fontSizes-14: 14px;
  --fontSizes-16: 16px;
  --fontSizes-20: 20px;
  --fontSizes-24: 24px;
  --fontSizes-32: 32px;
  --fontSizes-40: 40px;
  --fonts-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --radii-1: 4px;
  --radii-2: 8px;
  --radii-3: 16px;
  --radii-pill: 20%;
  --radii-round: 50%;
  --sizes-4: 4px;
  --sizes-8: 8px;
  --sizes-16: 16px;
  --sizes-24: 24px;
  --sizes-32: 32px;
  --sizes-40: 40px;
  --sizes-48: 48px;
  --sizes-64: 64px;
  --sizes-72: 64px;
  --sizes-80: 80px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-120: 120px;
  --zIndices-1: 100;
  --zIndices-2: 200;
  --zIndices-3: 300;
  --zIndices-4: 400;
  --zIndices-5: 500;
  --zIndices-6: 600;
  --zIndices-7: 700;
  --zIndices-8: 800;
  --zIndices-9: 900;
  --zIndices-max: 9999;
}
.cjphei {
  background-color: rgb(18, 29, 51);
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}
.cjphei {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  height: 100%;
}
.fBIqQw {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  -moz-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1050;
}
.fBIqQw {
  top: 65px;
  right: 22px;
  width: auto;
}
.dGdSqR {
  position: relative;
  width: 100%;
}
.dFsfkz {
  width: 100%;
  height: 112px;
  margin: 0px auto;
  background-color: rgb(18, 29, 51);
}
.eOMbxr {
  position: relative;
  display: flex;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
.dTLxqF {
  padding: 0px 16px;
  box-sizing: border-box;
  background-color: rgb(18, 29, 51);
  background-image: url("bg-pattern.svg");
}
.itBfVj {
  display: flex;
  padding-left: 24px;
  -moz-box-align: center;
  align-items: center;
  width: 250px;
}
.bCRrpa {
  display: flex;
  flex-direction: row;
  width: 100%;
  -moz-box-pack: center;
  justify-content: center;
  padding-left: 0px;
}
.icQETu {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}
.bzateK {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(12, 108, 242);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.VtDPC {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}
.lnOPvk {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px 16px;
}
.jcIbnc {
  cursor: inherit;
  display: flex;
}
.jgrRgy {
  display: inline;
  margin: 0px 0.25rem 0px 0px;
}
.jcIbnc::before {
  font-family: "icomoon", sans-serif;
  content: "?";
}
.jIaeKE {
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 8px 0px;
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 24px;
}
.loyLTf {
  display: flex;
  width: 100%;
}
.kROTtA {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 50%;
  -moz-box-align: center;
  align-items: center;
  padding: 16px 0px;
  cursor: pointer;
  border-radius: 8px 0px 0px;
}
.fnRhLT {
  width: auto;
  height: 28px;
}
.jnzFWE {
  margin-right: 12px;
}
.hJQqZZ {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(83, 34, 229);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.dBUeph {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 50%;
  -moz-box-align: center;
  align-items: center;
  padding: 16px 0px;
  cursor: pointer;
  border-radius: 0px 8px 0px 0px;
  background-color: rgb(240, 242, 247);
}
.bngzGF {
  width: auto;
  height: 26px;
}
.iSrPFo {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(152, 161, 178);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.iBuUTk {
  padding: 0px 32px;
}
.eAtBoL {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 16px;
}
.eufVF {
  position: relative;
  width: 100%;
}
.eAtBoL > div {
  margin-right: 0px;
}
.eAtBoL > div:last-child {
  margin-right: 0px;
}
.fUnsCG {
  margin-bottom: 8px;
}
.eGdQh {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.kbEuxL > div {
  margin-bottom: 5px;
}
.kMcDFY {
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 48px;
}
.hJgoBZ {
  display: flex;
  width: 100%;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}
.lbBmqO {
display: block;
width: 100%;
height: 48px;
min-height: 48px;
padding: 6px 12px;
box-sizing: border-box;
font-size: 16px;
font-weight: 500;
color: rgb(53, 63, 82);
background-color: rgb(255, 255, 255);
font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
background-image: none;
outline-width: 0px;
user-select: text;
border: 1px solid rgb(223, 227, 235);
border-radius: 8px;
}
.lbBmqO::placeholder {
color: rgb(152, 161, 178);
font-size: 14px;
font-weight: 500;
}
.cguRtB {
}
.jkgzwo {
}


.gPmVSj {
  color: rgb(53, 63, 82);
  cursor: pointer;
  padding: 3px 20px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}
.kyfudT {
  display: inline-flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  width: inherit;
  font-size: 16px;
  font-weight: 600;
}
.kyfudT > * {
  color: rgb(152, 161, 178) !important;
}
.kPtlNs {
  display: inline;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cHKfSC {
  cursor: inherit;
  display: flex;
}
.csAZWy {
  margin-left: 4px;
  font-weight: 600;
}
.cHKfSC::before {
  font-family: "icomoon", sans-serif;
  content: "?";
}
.jkIcBL {
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
}
.ecJsZh {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(152, 161, 178);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.bZFrda {
  display: inline-flex;
  cursor: pointer;
}
.hLxhAA {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(152, 161, 178);
  cursor: inherit;
  display: block;
  opacity: 1;
}

.iWDCke {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
}
.grufYx {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  min-width: 140px;
  height: 48px;
  padding: 10px 15px;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: normal;
  transition: all 0.2s ease-in-out 0s;
  white-space: nowrap;
  line-height: 1;
  text-transform: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 108, 242);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(12, 108, 242);
}
.hhh {
}
.edfwkt {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.9);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.hBczNm {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: rgb(12, 108, 242);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.ilFxqb {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  margin-top: 24px;
  border-top: 1px solid rgb(240, 242, 247);
  border-top-color: rgb(240, 242, 247);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0px;
}
.bAgxl {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.dZiTwf {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(103, 113, 132);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.nYDtv {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(12, 108, 242);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.bnTwQr {
  margin-top: 16px;
  cursor: pointer;
}
.eSCtEw {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 6rem 0px 2rem;
  margin-top: 6rem;
}
.iKdPpP {
  padding: 2rem 2rem 0px;
}
.kXiRmv {
  display: inline-flex;
  text-transform: none;
  position: relative;
}
.jxbiXh {
  background-clip: padding-box;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 242, 247);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
  display: none;
  float: none;
  height: auto;
  width: inherit;
  line-height: 20px;
  list-style: none;
  margin: 2px 0px;
  max-height: 230px;
  min-width: 20px;
  overflow: auto;
  padding: 5px 0px;
  position: absolute;
  left: 0px;
  top: auto;
  bottom: 25px;
  z-index: 10;
}
.grFgWt::placeholder {
  color: rgb(152, 161, 178);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.cumHNE {
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.cjHSIm {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.grFgWt {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  min-height: 48px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 12px;
  box-sizing: border-box;
  color: rgb(53, 63, 82);
  background-color: rgb(255, 255, 255);
  background-image: none;
  outline-width: 0px;
  user-select: text;
  border-radius: 8px;
  border: 1px solid rgb(223, 227, 235);
}

.jxhieR {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
  -moz-box-align: center;
  align-items: center;
  margin-top: 28px;
}
.ddZVIO {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
}
.jySyRc {
  cursor: inherit;
  display: flex;
}
.jySyRc::before {
  font-family: "icomoon", sans-serif;
  content: "<";
}
.fLHIUF {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(18, 29, 51);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.bsXprc {
  display: flex;
  -moz-box-pack: end;
  justify-content: flex-end;
  -moz-box-align: center;
  align-items: center;
}
.epYhUu {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(152, 161, 178);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.cvXVlh {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(217, 59, 48);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.gUCzyG > * {
  white-space: normal;
}
.gUCzyG > * {
  display: inline;
  margin-right: 0px;
}
.gAwTlF {
  position: absolute;
  flex-direction: column-reverse;
  -moz-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1050;
}
.gAwTlF {
  top: 65px;
  right: 22px;
  width: auto;
}
.idTDMy {
  animation-name: bcCCNc;
  animation-duration: 0.5s;
}
.cotZjA {
  width: 100%;
  margin-top: 5px;
}
.cotZjA {
  width: 450px;
  border-radius: 8px;
}
.ikTJTw {
  position: relative;
  display: flex;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 65px;
  padding: 15px 10px;
  box-sizing: border-box;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 8px;
  border-left: 6px solid rgb(242, 12, 12);
}
.fRzIwv {
  display: flex;
  flex-direction: row;
  -moz-box-pack: start;
  justify-content: flex-start;
  -moz-box-align: center;
  align-items: center;
  flex: 1 1 100%;
  margin-right: 10px;
  box-sizing: border-box;
}
.dAqllt {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(80, 89, 107);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.fcKoCr {
  cursor: pointer;
  display: flex;
}
.bPibvP {
  margin-right: 8px;
}
.fcKoCr::before {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(49, 53, 62);
  content: "X";
}

.bHzUYb {
  width: 100%;
}
.bAerop {
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 8px 0px;
  width: 480px;
  padding: 24px 0px;
}
.hOxITL {
  padding: 0px 32px;
}
.bJqBWn {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.koDvea {
  cursor: pointer;
  display: flex;
}
.gFCRIM {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(18, 29, 51);
  cursor: pointer;
  display: block;
  opacity: 1;
}
.koDvea::before {
  font-family: "icomoon", sans-serif;
  content: "e";
  background: url(hh.PNG);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("hh.PNG");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  background-repeat: no-repeat;
  background-position-x: 60%;
  background-position-y: 60%;
}
.dwhZMf {
  display: flex;
  flex-direction: column;
}
.BCruu {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(18, 29, 51);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.iVtkAS {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(103, 113, 132);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.iHKdpR {
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 48px;
  position: relative;
}
.Pbjyv {
  display: flex;
  width: 100%;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}
.flbxTH {
  display: block;
  width: 100%;
  height: 48px;
  min-height: 48px;
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  color: rgb(53, 63, 82);
  background-color: rgb(255, 255, 255);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: none;
  outline-width: 0px;
  user-select: text;
  border: 1px solid rgb(223, 227, 235);
  border-radius: 8px;
}
.jPqPHm {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(103, 113, 132);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.mLYbU {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  margin-top: 24px;
  border-top: 1px solid rgb(240, 242, 247);
  padding: 0px;
}
.ebsrcn {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.ixOYeY {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(12, 108, 242);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.eqReGL {
  margin-top: 16px;
  cursor: pointer;
}
.flbxTH::placeholder {
  color: rgb(152, 161, 178);
  font-size: 14px;
  font-weight: 500;
}

.cxlbvZ {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px 16px;
}
.ldjMpO {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 32px;
}
.hqWIZq {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 2;
  text-transform: none;
  font-style: normal;
  color: rgb(255, 255, 255);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.jiBTDP {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: none;
  font-style: normal;
  color: rgb(103, 113, 132);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.fRpgeL {
  padding: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 8px 0px;
  width: 480px;
}
.gVKiKu {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 16px;
}
.XsUhT > div {
  margin-bottom: 5px;
}
.iEQHPW {
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.gVKiKu > div:last-child {
  margin-right: 0px;
}
.kloyqQ {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.jknukh {
  display: flex;
  width: 100%;
  height: 48px;
}
.fjyROW {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 12px;
  box-sizing: border-box;
  color: rgb(53, 63, 82);
  background-color: rgb(255, 255, 255);
  background-image: none;
  outline-width: 0px;
  user-select: text;
  border-radius: 8px 0px 0px 8px;
  border-color: rgb(223, 227, 235) currentcolor rgb(223, 227, 235) rgb(223, 227, 235);
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
  border-image: none 100% / 1 / 0 stretch;
}
.fjyROW::placeholder {
  color: rgb(152, 161, 178);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.cbLDwN {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  height: 46px;
  padding-right: 8px;
  border-radius: 0px 8px 8px 0px;
  border-color: rgb(223, 227, 235) rgb(223, 227, 235) rgb(223, 227, 235) currentcolor;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px medium;
  border-image: none 100% / 1 / 0 stretch;
  cursor: pointer;
}
.glIUyi {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  cursor: inherit;
  display: block;
  opacity: 1;
}
.entwAe > * {
  display: inline-block;
}
.gbcMol {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgb(12, 108, 242);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.eJmNWv {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  min-width: 140px;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: normal;
  transition: all 0.2s ease-in-out 0s;
  white-space: nowrap;
  line-height: 1;
  text-transform: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: not-allowed;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 108, 242);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(12, 108, 242);
}

.gtuaiz {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  min-width: 140px;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: normal;
  transition: all 0.2s ease-in-out 0s;
  white-space: nowrap;
  line-height: 1;
  text-transform: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 108, 242);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(12, 108, 242);
}